<div id="nav-utility">
    <a href="#" class="button--region-select button--expand" data-toggle="modal" data-target="#region-select">
        <span class="current-region">{{ blogname }}</span>
        <span class="icon-wrapper">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="{{ asset_path }}/defs.svg#icon-expand"></use>
            </svg>
        </span>
    </a>
</div>

<div class="modal fade" id="region-select" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <svg class="close icon" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <use xlink:href="{{ asset_path }}/defs.svg#icon-menu-close"></use>
                </svg>
            </div>

            <div class="modal-body clearfix">
                <h2>Selecciona el país</h2>
                <ul class="region-list">
                {% for site in sites %}
                    {% if site.blogname|lower != Latam %}
                    <li>
                        <a href="{{ site.url }}">
                            <img src="{{ theme_path }}/img/global/locale/flag-{{ site.blogname | lower }}.png" alt="">
                            <span>{{ site.blogname }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>